.company-icon{
    height: 100px;
    width: 100px;
}

.block-header {
    padding: 1rem 2rem;
    background-color: var(--surface-section);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 1px solid var(--surface-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:host, ::ng-deep .card {
    background-color: var(--surface-card);
    padding: 0;
    border-radius: var(--border-radius);
    margin-bottom: 0;
}
