<div
    class="flex flex-nowrap justify-content-between align-items-center border-1 surface-border border-round p-3 cursor-pointer select-none hover:surface-hover transition-colors transition-duration-150"
    (keydown.enter)="changeView(lastMessage)"
    (click)="changeView(lastMessage)"
    tabindex="0"
>
    <div class="flex align-items-center">
        <div class="relative md:mr-3">
            <!-- Display different icons based on the sender -->
            <ng-container *ngIf="lastMessage.sender === 'assistant'; else userIcon">
                <i class="material-icons-outlined text-4xl">smart_toy</i>
            </ng-container>

            <ng-template #userIcon>
                <i class="pi pi-account_circle text-4xl"></i>
            </ng-template>
        </div>

        <div class="flex-column hidden md:flex">
            <!-- Display the message text -->
            <span
                class="block text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm"
            >
                {{ lastMessage.text }}
            </span>
        </div>
    </div>
</div>
