:host, ::ng-deep .info-card {
    padding: 2rem;
    margin-top: 2rem;
}

:host, ::ng-deep .introduction-text {
    font-size: 1.25rem;
    color: #979797;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-bottom: 6px;
}

:host, ::ng-deep .p-panel {
    margin-bottom: 2rem; /* Ensure vertical spacing between panels */
}

:host, ::ng-deep .info-feature {
    font-size: 1.1rem;
    line-height: 1.75;
    color: #979797;
    padding: 1rem;
}

:host, ::ng-deep .mt-5 {
    margin-top: 5rem;
}

:host, ::ng-deep .text-primary {
    color: var(--primary-color);
    text-align: center;
}

:host, ::ng-deep .p-header{
}
