<p-card class="info-card">
    <div class="p-grid">
        <div class="p-col-12">
            <h1 class="text-primary">Fully functional chatbot using the OpenAI API.</h1>
            <p class="introduction-text"></p>
        </div>

        <div class="p-col-12 md:p-col-6">
            <p-panel header="Powered by OpenAI's GPT-4, GPT-4 mini, TTS, and Whisper models." class="p-header">
                <p class="info-feature">
                    Choose between GPT-4 and GPT-4 mini, use text-to-speech to hear the model talk, and speech-to-text to have a real-time conversation with Chat GPT.
                    This is very much a work in progress and I will add additional features in the future.
                </p>
                <p class="info-feature">
                    This website uses a customized version of the <a href="https://poseidon.primeng.org/" target="_blank">Poseidon</a> template from <a href="https://primeng.org/" target="_blank">PrimeNG</a>.
                </p>
            </p-panel>
        </div>
    </div>
</p-card>
